
#body1{
    background-color: #d6dbd4;
}
/****************************banner****************************/
/*Header*/
.banner{
    height: 15vh;
    overflow: hidden;
    background-color: #38dd6a;
}
/*imagen*/
.banner img{
    display: inline-block;
    position: sticky;
    top: 1px;
    width: 14vh;
    height: 14vh;
    border-radius: 8vh;
}
/*Titulo*/
.banner h1{
    display: inline-block;
    position: sticky;
    top: 30%;
    border-radius: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
}

/**************************Navegacion**************************/
/*Navs*/
.navegacion{
    overflow:auto;
    background-color: #59d4a5;
}
/*Contenido del menu*/
.navegacion ul{
    height: 58px;
    background-color: #34e29a;

}
/*tab*/
.navegacion ul li a{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

/*tab activado*/
.navegacion ul li a.active{
    background-color: #585879;
    border-bottom-style: dashed;
    border-width: 5px;
    font-size: 25px;

}

/*tab al pasar el mouse encima*/
.navegacion ul li a:hover{
    color:black;
    font-size: 25px;
    transition: 0.2;

    background-color: #17c46d;
    border-bottom-style: dashed;
    border-width: 5px;
}
/**************************Contenido***************************/

.Contenido-Contactos{
    top:0%;
    overflow: hidden;
    width: 100%;
    padding-bottom: 1cm;
}
.Contenido-Contactos div.card{
    width: 23rem;
    height: 7cm;
    float: left;
    margin:1cm;
}
.Contenido-Contactos .card .card-body:hover{
    background-color: aqua;
    transition: 3s;

}
.Contenido-Contactos .card .list-group-item:hover{
    background-color: aqua;
    transition: 3s;
}
.Contenido-Contactos .card .card-body h4:hover{
    border-bottom-style: solid;
    background-color: aqua;
    transition: 2s;
}

.Contenido-Nosotros h1{
    font-size: 35px;
}
.Contenido-Nosotros p, li{
    font-size: 20px;
}